{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe
{% endblock %}

{% block body %}
{% set xz = ''  %}
{% include "home/menu.html.twig" with { xz : 'profile'  }  %}

	<div class="container">
		<h6 class="mt-4 text-center">
				Modifier votre  Profile!!</h6>
		{{  form_start(form) }}
		{{  form_widget(form) }}
		<input class="btn btn-info" type="submit" value="Modifier un Utilisateur">
		{{  form_end(form) }}
	</div>
{% endblock %}
