{% extends 'base.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block body %}
{% set xz = ''  %}
{% include "home/menu.html.twig" with { xz : 'ighri'  }  %}

	<section class="ftco-section ftco-no-pb ftco-no-pt bg-light mt-3">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4 class="text-center">الفلاحة في اغري</h4>
					<div class="row">
						<div class="col-md-4 mt-2">
							<img class="w-100" src=" {{ asset('./upload/users/brahi.jpg') }}">
						</div>
						<div class="col-md-4 mt-2">
							<img class="w-100" src=" {{ asset('./upload/users/brahimm.jpg') }}">
						</div>
						<div class="col-md-4 mt-2">
							<img class="w-100 mt-2" src=" {{ asset('./upload/users/brahimmm.jpg') }}">
						</div>
					</div>

					<div style="text-align: right;" class=" mt-3 p-3 ">
						<p>
							يعتمد
							                         فلاحوا اغري اساسا على المياه 
							                         الجوفية من ابار وعيون كمورد لمياه السقي  والتي توجد بوفرة
							                         في هذا الدوار مثل عين فونا
							                          و تنياراون تمازيرت الخ والتي تسد حاجيات الفلاحين من الماء
							                        يحتوي دوار اغري على مساحات كبيرة</p>
						<p>
							صالحة للزراعة لهذا نجد تنوع في الزراعات وابرزها زراعة الزعفران التي تعتبر المعيل 
							                        الرئيسي
						</p>
						<p>الذي يعتمد عليه سكان الدوارالذي يعتبر الاول وطنيا من حيث الانتاج والجودة 
							                        زد على ذلك غرس اشجاراللوز واشجار الزيتون وزراعة الخضراوات والفواكه  و الحبوب
						</p>
					</div>
					<h4 class="text-center">
						الماء الصالح للشرب
					</h4>
					<div style="text-align: right;" class=" mt-3 p-3 ">
						<p>
							تم انشاء مشروع لامداد ساكنة اغري بالماء الصالح للشرب وذلك بمساهمة جمعية الوفاق للتنمية والتعاون
							                        هذه صور المشروع
						</p>
					</div>
					<h4 class="text-center">
						طريقة تقسيم المياه
					</h4>
					<div style="text-align: right;" class=" mt-3 p-3 ">
						<p>

							يعتمد سكان اغري طرقا رياضية بدائية
							                     في تقسيم مياه
						</p>
						<p>
							العيون كل حسب حصته بالاعتماد على الظل كاداة لمعرفة وقت كل حصة-املو- و-اسقول- 
							                    وهو عبارة عن عصى طويلة مقسمة الى اجزاء هي -الربع ازورن- -ازكن- -الربع اكرن-  
							                    -املو- وهي كمية الماء المحصلة خلال الليل ثم يسد الصهريج لتجميع المياه لذوي حصص الغد
						</p>
						<p>
							تنقسم ليالي عين  فونا  حسب حصص اهل اغري الى 26 ليلة
							                     كالتالي  خمس حصص ل  ادمحند اومحند. حصة ل اشريك. حصتان ل امغدارن. حصتان ل
							                     ادمحند. حصة ل ضوكوك. حصة ل اندجارن.  حصة ل آديدير.اربع حصص ل المخزن.
							                     حصة ل ادحماد. حصة ل بابا واحمان. حصة ل ادمبارك.</p>
						<p>
							حصة ل ادحيى. حصة 
							                    ل مولود. حصتان ل ادسعايد. حصة ل ادحماد اولحسن. حصة ل ادبرايم اومحند.

						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'partials/footer.html.twig' %}

{% endblock  %}
