{% extends 'base.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block body %}
{% set xz = ''  %}
{% include "home/menu.html.twig" with { xz : 'Presentation'  }  %}
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light mt-3 mb-1">
	<div class="container">
		<div class="row">
			<div class="col-md-5 p-md-4 img img-2 d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded" 
			style="background-image: url(images/about.jpg);">
				<a href="" class=" d-flex justify-content-center align-items-center">
				</a>
			</div>
			<div class="col-md-7 py-4 wrap-about pb-md-5 ftco-animate">
				<div class="heading-section-bold mb-2 mt-md-5">
					<div class="ml-md-0">
						<h2 class="mb-3 text-center">Douar ighri</h2>
					</div>
				</div>
				<div class="">
					<p class="lead text-justify">
						Ighri se situe au cœur de la tribu des Souktana, zone historique du safran, dans la commune
                         rurale de Sidi Hssain. Il se situe à environ 25 Km à l’Est du Centre Urbain de Taliouine 
                         à proximité de la route nationale reliant les deux villes touristiques de Taroudant 
                         et Ouarzazate..</p>
				</div>
				<div class="">
			      <p class="d-flex justify-content-center text-danger">*************</p>
			   </div>
			</div>
			   
            <div class="lead text-justify p-3 pl-0 ">
            	<p>Ce terroir est réputé dans la région par la qualité de son safran et surtout de ses bulbes de safran qui sont recherchés par tous les producteurs à l’intérieur et à l’extérieur de la région. Le safran est cultivé dans le terroir d’Ighri depuis des siècles à une altitude d’environ 1700 m et sur une superficie d’environ 35 ha, soit 50 % de la superficie totale irriguée.</p>
				<p>La communauté d’Ighri compte 95 petits producteurs de safran. En année normale, la production totale du safran dans le terroir d’Ighri est d’environ 115 kg, soit 1,2 kg/ménage. Le safran est la principale source de revenu des ménages de la communauté d’Ighri, il représente environ 60 % du revenu total du ménage.</p>
			</div>	
            <hr>	
		</div>
	</div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row no-gutters ftco-services">
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-5 services mb-md-0 mb-4">
					<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
						<span class=""><img width="100px" src="upload/images/zafran.png"></span>
					</div>
					<div class="media-body">
						<h3 class="heading"><a href="{{ path('zafranpage') }}">Safran Ighri</a></h3>
						<span>Bio 100%</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
						<span class=""><i class="fas fa-tractor"></i></span>
					</div>
					<div class="media-body">
						<h3 class="heading"><a href="{{ path('agriculepage') }}">Agriculteur de ighri</a></h3>
						<span>Qualité</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
						<span class=""><img width="100px" src="upload/images/amande.png"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Loze de Ighri</h3>
						<span>Qualité</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-customer-service"></span>
					</div>
					<div class="media-body">
						<h3 class="heading"><a href="{{ path('contactpage') }}"> Contact</a></h3>
						<span>24/7 en ligne</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 order-md-last align-items-stretch d-flex">
						<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(upload/safran/category.jpg);">
							<div class="text text-center">
								<h2>Zafran Ighri Taliouine</h2>
								<p>zafran boi 100%</p>
								<p>
									<a href="{{ path('zafranpage') }}" class="btn btn-primary">Savoir plus</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(upload/safran/category-1.jpeg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0">
									<a href="#">Bio 100 %</a>
								</h2>
							</div>
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(upload/safran/category-2.jpeg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0">
									<a href="#">Bio 100 %</a>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(upload/safran/category-5.jpeg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0">
							<a href="#">Bio 100 % </a>
						</h2>
					</div>
				</div>
				<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(upload/safran/category-4.jpeg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0">
							<a href="#">Bio 100 %</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-category ftco-no-pt">
<div class="container">
	<div class="row justify-content-center mb-3 pb-3">
		<div class="col-md-12 heading-section text-center ftco-animate">
			<span class="subheading">Autre Produits de Ighri</span>
			<h2 class="mb-4">Super Qualité</h2>
			<p>Autre produit comme amandes & Les Tapis</p>
		</div>
	</div>
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 order-md-last align-items-stretch d-flex">
						<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(upload/loz/category.jpeg);">
							<div class="text text-center">
								<h2>Amandes (Loz) & Tapis Ighri Taliouine</h2>
								<p>Première Qualitée</p>
								<p>
									<a href="#" class="btn btn-primary">Savoir plus</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(upload/loz/category-1.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0">
									<a href="#">Qualité</a>
								</h2>
							</div>
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(upload/loz/category-2.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0">
									<a href="#">Qualité</a>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(upload/loz/category-4.jpg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0">
							<a href="#">Qualité
							</a>
						</h2>
					</div>
				</div>
				<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(upload/loz/category-3.jpg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0">
							<a href="#">Qualité</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% include 'partials/footer.html.twig' %}

{% endblock  %}