<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}IGHRI TALIOUINE !{% endblock %}
        </title>


        <script src="https://kit.fontawesome.com/e49d15f9b3.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block stylesheets %}{% endblock %}
        <script data-ad-client="ca-pub-9127893784007979" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
            {% include "safran/partials/navbar.html.twig" %} 
        {% block body %}{% endblock %}
            {% include "safran/partials/footer.html.twig" %} 
        {% block javascripts %}{% endblock %}

    </body>
</html>
