{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Nous Ighri!{% endblock %}
{% block body %}
{% set xz = ''  %}
{% include "home/menu.html.twig" with { xz : 'accuiel'  }  %}
{% set idf = 0 %}
<div style="background-color: #e9ebee;color: #1d2129;">
<div class="container" >
    <div class="row"  >
        <div class="col-md-8 style="background: url({{ asset('/images/ighriiii.jpg') }}) ;background-size: cover;" ">
            <div class="card mt-3">
                <div class="card-header">
                    Créer une publication
                </div>
                <div class="card-body">
                  <a href="{{ path('newpostpage') }}" class="btn btn-primary">  Créer une publication</a>
                </div>
            </div>
            <div class="col-md-12 m-0 p-0">
                {% include "post/article.html.twig" with {pos : pagination.data, varibales:'showpostpage'  } %}
                <div class="d-flex justify-content-center mb-5 mt-3">
                    {% if pagination.getData != null %}
                        {{ pagination.display()  }}
                        {% endif %}
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include "partials/developpeur.html.twig"  %}
        </div>
    </div>
</div>
</div>
{% include "partials/footer.html.twig" %}

{% endblock %}
